html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}
